@media (max-width: 576px){
    .footer-top-items{
        padding: 10px 10px;
    }
    .media-icon-list{
        padding: 14px;
    }
    .media-icon .img{
        width: 40px;
    }
    .footer-address{
        font-size: 18px;
    }
    .fa-solid {
        font-size: 16px;
        padding-top: 5px;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact{
        font-size: 16px;
    }
    .logo-heading{
        font-size: 30px;
    }
    .footer-copyright-item{
        font-size: 13px;
    }
}
@media (min-width: 576px) and (max-width: 768px) { 
    .footer-top-items{
        padding: 20px 0;
    }
    .media-icon-list{
        padding: 16px;
    }
    .media-icon .img{
        width: 50px;
    }
    .footer-address{
        font-size: 21px;
    }
    .fa-solid {
        font-size: 19px;
        padding-top: 5px;
    }
    .contact{
        font-size: 19px;
    }
    .logo-heading{
        font-size: 40px;
    }
    .footer-copyright-item{
        font-size: 16px;
    }
 }